@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cinzel", serif;
  background-image: url(./components/svg/desert.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.415);
  background-blend-mode: overlay;
}
body::-webkit-scrollbar {
  display: none;
}
iframe {
  border-radius: 20px;
}
css-doodle {
  width: 80vw;
}
