body {
  font-family: "Cinzel", serif;
  color: #000000;
  margin: 0px;
  background-image: url(./components/svg/bg2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
iframe {
  width: 60vw;
  height: 55vh;
  border-radius: 20px;
}

.pitch {
  justify-self: center;
  align-self: center;
  font-family: "Heebo";
  font-size: 20px;
  grid-column: col-two;
  grid-row: two;
  text-align: center;
  color: white;
  text-shadow: 0px 2px 5px black;
  width: 60vw;
  height: 45vh;
}
h1 {
  text-align: center;
  color: black;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
* {
  margin: 0;
  padding: 0;
}
.projects {
  text-align: left;
  margin: 0 180px;
  line-height: 1.4;
  font-weight: 300;
}
.p2 {
  padding: 40px;
  text-align: center;
}
.portfolio {
  grid-row: one;
  grid-column: col-two;
  justify-self: center;
  align-self: flex-end;
  font-size: 30px;
}
.rune {
  animation: 1.5s spin ease-in;
  width: auto;
}
@keyframes spin {
  0% {
    opacity: 0;
    transform: translateX(80%) translateY(800%) rotateX(200deg);
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    transform: translateX(80%) translateY(0%) rotateX(200deg);
  }
  100% {
    opacity: 1;
    transform: (translateY(0%) rotateX(0deg));
  }
}

#header {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: [col-one] 25% [col-two] 50% [col-three] 25%;
  grid-template-rows: [one] 230px [two] auto [three] 30%;
}

#navId {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  grid-column: col-one;
  grid-row: two;
  justify-self: center;
  margin: 20px;
}
.navBtn {
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(37, 36, 36);
  transition: 0.1s;
  width: 70px;
  height: 40px;
  justify-self: flex-start;
  align-self: center;
  margin: 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0.27);
  border: 1px solid white;
}

.btnDiv {
  display: flex;
  align-items: row;
}
.projBtn:hover {
  cursor: pointer;
}
.navBtn:hover {
  cursor: pointer;
  border: 1px solid black;
}
.navBtn:active {
  transform: translateX(5px);
  box-shadow: 0px 0px 10px rgba(169, 7, 7, 0.28);
}
#icons {
  display: flex;
  justify-self: center;
  align-self: center;
  grid-column: col-two;
  grid-row: three;
  justify-content: space-between;
  width: 80%;
  z-index: 1;
}
.icon {
  background-color: black;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  padding: 2px;
  width: 40px;
  height: 40px;
  justify-content: space-between;
  transition: 0.1s ease-in-out;
}
.icon:hover {
  cursor: pointer;
  transform: translateY(10px);
}
@media only screen and (max-width: 1250px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  #header {
    grid-template-rows: [one] 21% [two] auto [three] auto;
  }
  h1 {
    font-size: 34px;
  }
  .pitch {
    font-size: 0.875rem;
    width: 95vw;
    height: 50vh;
    grid-row: two;
    grid-column: col-one / span 3;
  }

  #navId {
    flex-direction: row;
    grid-row: three;
    grid-column: col-two;
    justify-self: center;
    align-self: flex-start;
  }
  .btnDiv {
    flex-direction: column;
    z-index: 2;
  }
  .navBtn {
    font-size: 12px;
    width: 49px;
    height: 40px;
    margin: 2px;
  }
  #icons {
    visibility: hidden;
  }
  #linebreak {
    width: 100vw;
    text-align: center;
  }
  #doodle {
    margin: 0px 0px 0px 0px;
  }
  .projects {
    text-align: left;
    margin: 0 30px;
    line-height: 1.4;
    font-weight: 300;
  }
  iframe {
    justify-self: center;
    align-self: center;
    grid-column: col-two;
    grid-row: two;
    width: 100%;
    height: 54vh;
  }
}
